@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262632;
}

header {
    background: white;
    padding: 20px;
}

header {
    background: white;
}

header > h1 {
    color: #262632;
    text-align: center;
    font-family: Asap, sans-serif; 
}




.score-board {
    border: 3px solid white;
    margin: 20px auto;
    width: 200px;
    color: white;
    font-size: 46px; 
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    font-family: ASap, sans-serif; 
    position: relative; 
}

.badge {
    background: #262632;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}


#user-label { 
    position: absolute;
    top: 30px;
    left: -25px; 
    background: red; 
}

#computer-label {
    position: absolute;
    top: 30px; 
    right: -40px;
    background: red; 
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-family: Asap, sans-serif;
    font-weight: bold;
}


.choices {
    margin-top: 50px;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px; 
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease; 
}

.choice:hover {
    cursor: pointer;
    background: white;

}

#message {
    text-align: center;
    color: white;
    font-family: Asap, sans-serif; 
    font-weight: bold;
    font-size: 20px; 
    margin-top: 20px; 
}


.green-glow {
    border: 4px solid green;
    box-shadow: 0 0 10px darkgreen;
}

.red-glow {
    border: 4px solid red;
    box-shadow: 0 0 10px darkred;
}

.grey-glow {
    border: 4px solid grey;
    box-shadow: 0 0 10px darkgray;
}